#
# Config for TinyDisk 
#
# You will have to specify 
#


###### --- Creation code

#What hostname is used to connect to the writing server?
#WriteServer: localhost
#for tinyurl.com
WriteServer: tinyurl.com

#What port
WritePort: 80
#for tinyurl.com
#WritePort: 80

#path the filename to POST to to create a new hash
#same for both NanoURL and TinyURL
WriteURL: /create.php

# sig of a successful creation
#same for both TinyURL and NanoURL
CreateSig: "<h1>TinyURL was created!</h1>"

#string that prefixes the hash returned when a hash is created
#HashSig: "<input type=hidden name=tinyurl value="http://localhost/redirect.php?num="
#hash for tinyurl.com
HashSig: "<input type=hidden name=tinyurl value="http://tinyurl.com/"


###### --- Reading code
#What hostname is used to connect to the reading server?
#ReadServer: localhost
#for tinyurl.com
ReadServer: forwarding.tinyurl.com

#What port
ReadPort: 80
#for tinyurl.com
#ReadPort: 80

#path and the filename to read a hash from
#this should return an HTTP 302 redirect with the contents of the hash
#same for TinyURL and NanoURL
ReadURL: /redirect.php?num=

#Max size of a file that can be uploaded, in Kilobytes
#20 megs is te default
MaxSize: 20097152

